.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color:rgb(88, 90, 88);
    border: 5px dashed rgb(0,255,0);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box:hover{
    box-shadow: 1px 1px 45px 15px rgb(52, 53, 54);
    animation-name: rgbC;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rgbC {
    0% {
        background-color: slateblue;
    }
    25% {
        background-color: springgreen;
        
    }
    50% {
        background-color: khaki;
        
    }
    75% {
        background-color: salmon;
        
    }
    100% {
        background-color: slateblue;
        
    }
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
}